<a href="https://colab.research.google.com/github/ashikshafi08/MathCodeNN/blob/main/Math_as_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Math as Code 

This notebook will contain the code + mathematical concepts needed for reading Machine Learning papers.

### Naming Conventions 

* *s* - Italic lowercase used for the `scalars`. (a number, 1D)
* **x** - bold lowercase used for the `vectors` (2D). 
* **A** - bold uppercase used for defining `matrices`. 
* *θ* - italic lowercase greek letter for `constants and special variables`.

### Equal Symbols 

Below are the few common examples of symbols resembling the equal sign. 

* `=` : equality (check whether the values are same) 
* `≠` : inequality (values aren't the same)
* `≈` : approximately equal to some value (precision matters)
* `:=` : used for definition

In [56]:
# Equality
print(f'Checking whether (2 = 3) -> {2 == 3}')

# Inequality 
print(f'Checking for inequality (2 not equal to 3) -> {2 != 3}')

Checking whether (2 = 3) -> False
Checking for inequality (2 not equal to 3) -> True

In [57]:
# Approximately equals 
import math 
import numpy as np 

# We use isclose to calculate the approx 
print(f'Approximation equals: {math.isclose(math.pi , 3.14159)}')

# We can add some tolerance as an third argument which will check the upto certain decimal point 
# here we check upto 5 decimal points
print(f'Approximation using some tolerance: {math.isclose(math.pi , 3.14159 , rel_tol = 1e-5)}')

Approximation equals: False
Approximation using some tolerance: True

In [58]:
# Checking if any values are almost equal 

def almost_equal(x ,y , epsilon = 7):

  return np.abs(x - y) < 10** -epsilon # (1e-7)

almost_equal(4, 2)

False

Definition of variables 

`x := 2kj` also means, x to be the another name for 2kj.

In [59]:
# In Python, we write it as 
k, j = 0 , 2

x = 2*k*j

### Square Root and Complex Numbers 

The square root will be of the below form: 


![Screenshot 2022-04-09 at 2.05.17 AM.png]()

In python programming, we use `sqrt` to calculate the square root of a number.

In [60]:
import math 

print(f'Square root of 2: {math.sqrt(2)}') # using math libr
print(f'Square root of 4: {np.sqrt(4)}') # using numpy

Square root of 2: 1.4142135623730951
Square root of 4: 2.0


When we talk about complex numbers, they're of form `a + ib`, where
- `a` is the real part 
- `b` which is associated with `i` is the imaginary part. 

The imaginary number `i` is defined as, 
```
i = np.sqrt(-1)
```

![Screenshot 2022-04-09 at 2.09.30 AM.png]()

In [61]:
# Using the complex function in py code 
# outputs the format of real and img part 

complex(1 , 1) # input will be real and imaginary

(1+1j)

In [62]:
# Using the numpy imag 
# this only calculates the imaginary part and returns the result
l = [1-1j,2,4 - 4j, 44 - 5j + 4j]

np.imag(l)

array([-1.,  0., -4., -1.])

In [63]:
# The normal math library cannot be used on the comple numbers
math.sqrt(complex(1 , 1))

TypeError: ignored

Instead we can use `cmath` that is math library for the complex numbers. Below is a thread that explains why cmath is different from math. 

- [Differences](https://stackoverflow.com/questions/33684948/difference-between-1-2-math-sqrt-and-cmath-sqrt)
- [Cmath Doc](https://docs.python.org/3/library/cmath.html)

In [64]:
import cmath

cmath.sqrt(complex(1 , 1))

(1.09868411346781+0.45508986056222733j)

Getting the conjugate of a complex number, we can obtain the conjugate of a complex number by changing the sign of a complex number. 

We can use numpy for this -> `np.conj or np.conjugate`

In [65]:
# Numpy conjugate to get the 
a = complex(0.3 , 39)

# Complex conjugate of the below
print(f'Complex number: {a}')
print(f'Complex Conjugate: {np.conj(a)}')

Complex number: (0.3+39j)
Complex Conjugate: (0.3-39j)

When we take a cube root of the complex numbers, we are left with the cube roots of units. In which we get 3 values returned, and one of them will be a real number and other two will be a complex conjugates. 



**Cube roots of unity**

In [66]:
z1 = .5 * complex(-1 , math.sqrt(3))
z1

(-0.5+0.8660254037844386j)

In [67]:
# Using the Numpy's constructor 
.5 * np.complex(-1 , math.sqrt(3))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.complex128` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

(-0.5+0.8660254037844386j)

In [68]:
# Conjugation of the z1
z2 = np.conj(z1)
z2

(-0.5-0.8660254037844386j)

In [69]:
# Testing the cube roots of unity 
np.testing.assert_almost_equal(z1**3 , z2**3)

In [70]:
# Comparing with almost equals 

z1**3 , z2**3

((0.9999999999999998+1.1102230246251565e-16j),
 (0.9999999999999998-1.1102230246251565e-16j))

https://numpy.org/doc/stable/user/basics.types.html

### Dot and Cross Product 

- `.` -> dot product 
- `x` -> cross product

**Scalar Multiplication** 

Both the symbols can represent the simple multiplication of the scalars. 


```
5.4 = 5x4 # dot == cross 
```

But when it comes to the vector multiplication both holds different meanings in linear algebra. And we don't really use the dot an cross for the following, 
- multiplication of one vector with a scalar. 
- element wwise multiplication of a vector with another

In [77]:
s = 3 

k = [1,2]
j = [3,4]

# below is the element wise multi
def multiply(a, b): return [aa* bb for aa , bb in zip(a,b)]

# Vector with a scalar multi
def multiply_scalar(scalar , a): return [scalar * a for aa in a]

# Applying the above 
tmp = multiply(k , j)
print(tmp)


print(multiply_scalar(s, tmp))

[3, 8]
[[3, 8, 3, 8, 3, 8], [3, 8, 3, 8, 3, 8]]

In [102]:
import numpy as np 

a = np.array([[1 , 2 ,3 ] , 
              [4, 5 ,6 ] , 
              [7 , 8 , 9]])

b = np.array([[1 ,2 ] , 
              [3 ,4]])

c =  np.array([[11 , 12 ,13 ] , 
              [14, 15 ,16 ] , 
              [17 , 18 , 19]])

In [87]:
# Matrix multiplication == Dot Product when the Dimensionality is same

np.matmul(a ,c) == np.dot(a , c)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

The dot product between two vectors x and y of the same dimensionality is the matrix product x`T`y.

Dot product is commutative where you can change the order of the product and still the operation works whereas in the Matrix Multiplication it doesn't apply. 

**Linear Combination**

Here we multiply a set / array of vectors with the corresponding scalar and add the results. 

For instance, 
```
v = {v0, ...... vn} and s= {s0...sn} where each v will be an vector and each s will be an scalar.
```
`v0 * s0 + v1 * s1 + ......+ vn*sn`

In [109]:
# Using the numpy lin alg 
scalar = np.array([ [2] , [3] , [4]])


np.dot(a , scalar)

array([[20],
       [47],
       [74]])

In [97]:
a.shape , scalar.shape

((3, 3), (3,))

In [98]:
a = np.array([[1, 2], [3, 5]])
b = np.array([1, 2])

a.shape , b.shape

((2, 2), (2,))